<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>List Employees</title>
		
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	
	<body>
		
		<div class="container">
		
			<h3>Business</h3>
			
			<hr/>
		
			<table class="table table-bordered table-striped">
			
				<thead>
					<tr>
						<th>name</th>
						<th>address</th>
						<th>city</th>
						<th>state</th>
						<th>postal_code</th>
						<th>latitude</th>
						<th>longitude</th>
						<th>stars</th>
						<th>review_count</th>
						<th>is_open</th>
						<th>attributes</th>
						<th>categories</th>
						<th>hours</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="business: ${data}">
						<td th:text="${business.name}" />
						<td th:text="${business.address}" />
						<td th:text="${business.city}" />
						<td th:text="${business.state}" />
						<td th:text="${business.postal_code}" />
						<td th:text="${business.latitude}" />
						<td th:text="${business.longitude}" />
						<td th:text="${business.stars}" />
						<td th:text="${business.review_count}" />
						<td th:text="${business.is_open}" />
						<td th:text="${business.attributes}" />
						<td th:text="${business.categories}" />
						<td th:text="${business.hours}" />
					</tr>
				</tbody>
				
			</table>
		</div>
		
		
	</body>
	
</html>