<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Business</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<style>
		.checked {
			color: orange;
		}

		a {
			text-decoration: none;
			display: inline-block;
			padding: 8px 16px;
		}

		a:hover {
			background-color: #ddd;
			color: black;
		}

		.previous {
			background-color: #f1f1f1;
			color: black;
		}

		.next {
			background-color: #04AA6D;
			color: white;
		}

		.round {
			border-radius: 50%;
		}
	</style>
</head>

<header th:insert="fragments/menu :: Hauptmenu"></header>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
	filter
</button>


<form action="/filterBusinessInTable/0" method="POST">

	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Filter</h5>
					<button type="button" class="btn-close bi bi-x-lg text-danger" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>

				<div class="modal-body">
					<input type="text" id="name" name="name" th:value="${name}" placeholder="Name">
					<input type="text" id="name" name="state" th:value="${state}" placeholder="state">
					<input type="text" id="name" name="city" th:value="${city}" placeholder="city">
					<input type="text" id="name" name="postalCode" th:value="${postalCode}" placeholder="Postal Code">


					<details>
						<summary>Attributes</summary>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="takesBusinessCard" th:value="1" /> Takes
							Credit Card
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesOpen24hours" th:value="1" /> 24h
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesRestaurantstakeout"
								th:value="1" />
							Take out
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesWheelchairaccessible"
								th:value="1" /> Wheelchair
							Accessible
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesRestaurantstableservice"
								th:value="1" /> Table
							Service
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesRestaurantsreservations"
								th:value="1" /> Reservation
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesRestaurantsgoodforgroups"
								th:value="1" /> Good for
							Groups
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesRestaurantsdelivery"
								th:value="1" />
							Delivery
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesRestaurantscounterservice"
								th:value="1" /> Counter
							Service
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesOutdoorseating" th:value="1" />
							Outdoor
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesHastv" th:value="1" /> TV
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesHappyhour" th:value="1" /> Happy
							Hour
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesGoodforkids" th:value="1" />
							Good
							for Kids
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesGoodfordancing" th:value="1" />
							Dancing
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesDrivethru" th:value="1" />
							Drivethru
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesDogsallowed" th:value="1" />
							Dogs
							allowed
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesCoatcheck" th:value="1" /> Coat
							Check
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesByappointmentonly"
								th:value="1" />
							By Appointment
							only
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesBusinessacceptsbitcoin"
								th:value="1" /> Accepts
							Bitcoin
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesBikeparking" th:value="1" />
							Bike
							Parking
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesByob" th:value="1" /> BYOB
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="attributesAcceptsinsurance"
								th:value="1" />
							Insurance
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="vegan" th:value="1" /> Vegan
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="vegetarian" th:value="1" /> Vegetarian
						</label>

						<label>
							<input type="checkbox" class="ads_Checkbox" name="glutenFree" th:value="1" /> Gluten Free
						</label>
					</details>


					<details>
						<summary>Food and Drinks</summary>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="pubs" th:value="1" /> Pubs
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="restaurants" th:value="1" /> Restaurants
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="bars" th:value="1" /> Bars
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="clubs" th:value="1" /> Clubs
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="buffets" th:value="1" /> Buffets
						</label>

					</details>

					<details>
						<summary>Other Businesses</summary>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="salons" th:value="1" /> Salons
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="apartments" th:value="1" /> Apartments
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="gyms" th:value="1" /> Gyms
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="bookstores" th:value="1" /> Bookstores
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="shopping" th:value="1" /> Shopping
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="stores" th:value="1" /> Stores
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="entertainments" th:value="1" />
							Entertainment
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="arts" th:value="1" /> Arts
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="lounges" th:value="1" /> Lounges
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="doctors" th:value="1" /> Doctors
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="dentists" th:value="1" /> Dentists
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="chiropractors" th:value="1" />
							Chiropractors
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="pet" th:value="1" /> Pets
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="automotive" th:value="1" /> Automotive and
							Cars
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="homeServices" th:value="1" /> Home
							Services
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="banks" th:value="1" /> Banks
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="spas" th:value="1" /> Spas
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="education" th:value="1" /> Education
						</label>
						<label>
							<input type="checkbox" class="ads_Checkbox" name="fitness" th:value="1" /> Fitness
						</label>
					</details>




					<select name="foodOrigin" th:value="foodOrigin">
						<option th:value="0" th:text="'Food Origin'">American</option>
						<option th:value="Italian" th:text="Italian">Italian</option>
						<option th:value="Vietnamese" th:text="Vietnamese">Vietnamese</option>
						<option th:value="Korean" th:text="Korean">Korean</option>
						<option th:value="Asian" th:text="Asian">Asian</option>
						<option th:value="Japanese" th:text="Japanese">Japanese</option>
						<option th:value="Chinese" th:text="Chinese">Chinese</option>
						<option th:value="Mexican" th:text="Mexican">Mexican</option>
						<option th:value="Moroccan" th:text="Moroccan">Moroccan</option>
						<option th:value="French" th:text="French">French</option>
						<option th:value="Filipino" th:text="Filipino">Filipino</option>
						<option th:value="Irish" th:text="Irish">Irish</option>
						<option th:value="Caribbean" th:text="Caribbean">Caribbean</option>
						<option th:value="Thai" th:text="Thai">Thai</option>
						<option th:value="Pakistani" th:text="Pakistani">Pakistani</option>
						<option th:value="Idian" th:text="Indian">Indian</option>
						<option th:value="'Middle Eastern'" th:text="'Middle Eastern'">Middle Eastern</option>
						<option th:value="'Puerto Rican'" th:text="'Puerto Rican'">Puerto Rican</option>
						<option th:value="Honduran" th:text="Honduran">Honduran</option>
						<option th:value="Spanish" th:text="Spanish">Spanish</option>
						<option th:value="Greek" th:text="Greek">Greek</option>
						<option th:value="African" th:text="African">African</option>
						<option th:value="Turkish" th:text="Turkish">Turkish</option>
						<option th:value="Lebanese" th:text="Lebanese">Lebanese</option>
						<option th:value="Greek" th:text="Greek">Greek</option>
						<option th:value="American" th:text="American">American</option>

					</select>

					<select name="foodType" th:value="foodType">
						<option th:value="0" th:text="'Food Type'">Food Type</option>
						<option th:value="Ramen" th:text="Ramen">Ramen</option>
						<option th:value="Seafood" th:text="Seafood">Seafood</option>
						<option th:value="Burgers" th:text="Burgers">Burger</option>
						<option th:value="Pizza" th:text="Pizza">Pizza</option>
						<option th:value="'Ice Cream'" th:text="'Ice Cream'">Ice Cream</option>
						<option th:value="'Hot Dogs'" th:text="'Hot Dogs'">Hot Dogs</option>
						<option th:value="'Chicken Wings'" th:text="'Chicken Wings'">Chicken Wings</option>
						<option th:value="'Frozen Yogurt'" th:text="'Frozen Yogurt'">Frozen Yogurt</option>
						<option th:value="Sushi" th:text="Sushi">Sushi</option>
						<option th:value="Bakeries" th:text="Bakeries">Bakeries</option>
						<option th:value="Soup" th:text="Soup">Soup</option>
						<option th:value="Cupcakes" th:text="Cupcakes">Cupcakes</option>
						<option th:value="Steakhouses" th:text="Steakhouses">Steak</option>
						<option th:value="Sandwiches" th:text="Sandwiches">Caribbean</option>
						<option th:value="Bagels" th:text="Bagels">Bagels</option>
						<option th:value="Donuts" th:text="Donuts">Donuts</option>
						<option th:value="Kebab" th:text="Kebab">Kebab</option>
						<option th:value="Desserts" th:text="Desserts">Desserts</option>
						<option th:value="Barbeque" th:text="Barbeque">Barbeque</option>
						<option th:value="Salad" th:text="Salad">Salad</option>
						<option th:value="Pasta" th:text="Pasta">Pasta</option>
						<option th:value="Bowls" th:text="Bowls">Bowls</option>
						<option th:value="Tacos" th:text="Tacos">Tacos</option>
						<option th:value="Pretzels" th:text="Pretzels">Pretzels</option>
						<option th:value="Donuts" th:text="Donuts">Donuts</option>
					</select>

					<select name="drinkType" th:value="drinkType">
						<option th:value="0" th:text="'Drink Type'">Drink Type</option>
						<option th:value="Tea" th:text="Tea">Tea</option>
						<option th:value="Coffee" th:text="Coffee">Coffee</option>
						<option th:value="Cocktail" th:text="Cocktail">Cocktail</option>
						<option th:value="Wine" th:text="Wine">Wine</option>
						<option th:value="Smoothies" th:text="Smoothies">Smoothies</option>
						<option th:value="Beer" th:text="Beer">Beer</option>
						<option th:value="Spirits" th:text="Spirits">Spirits</option>
						<option th:value="Juice" th:text="Juice">Juice</option>
						<option th:value="'Bubble Tea'" th:text="'Bubble Tea'">Bubble Tea</option>
					</select>

					<div class="modal-footer">
						<input type="submit" class="btn btn-primary" value="Submit">
					</div>
				</div>


			</div>
		</div>
	</div>

</form>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Price Range</th>
			<th>Stars</th>
			<th>Review count</th>
			<th>Open</th>
			<th>Categories</th>
			<th>Tips</th>
			<th>Map</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="business: ${data}">
			<td th:text="${business.name}" />
			<td th:text="|${business.address}, ${business.city}, ${business.state}, ${business.postalCode}|" />
			<td th:text="${business.attributesRestaurantspricerange}" />
			<td class="fa fa-star checked" th:text="${business.stars}" />
			<td th:text="${business.reviewCount}" />
			<td th:text="${business.isOpen} ? 'yes' : 'no' " />
			<td th:text="${business.categories}" />
			<form action="/toTips" method="POST">
				<td> <input type="submit" value="Tips" />
					<td />
					<input type="hidden" name="businessId" th:value="${business.businessId}" />
			</form>
			<form action="/toMap" method="POST">
				<td> <input type="submit" value="see in Map" />
					<td />
					<input type="hidden" name="businessId" th:value="${business.businessId}" />
			</form>

		</tr>
	</tbody>

</table>


</p>

<nav aria-label="Page navigation">
	<ul class="pagination">
		<li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/businessRealTable/'+${currentPage - 1}}"
				class="page-link" href="#">Previous</a></li>
		<!-- <li th:classappend="${currentpage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item"><a th:href="@{'/businessTable/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li> -->
		<li th:if="${currentPage+1 != totalPages}" class="page-item"><a
				th:href="@{'/businessRealTable/'+${currentPage + 1}}" class="page-link" href="#">Next</a></li>
	</ul>
</nav>

<div th:replace="fragments/footer :: Footer"></div>
<style>
	footer {
		text-align: center;
		padding: 3px;
		background-color: lightgreen;
		color: black;
	}
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>
</body>

</html>