<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
       <title>Business Charts</title>
</head>
<body>


		<form action="/topReviewsCount" method="POST">
            <button
              id="search-button"
              class="search-bar search-submit"
              type="submit"
              value = "submit"
            >
              TOP Reviewed Businesses
            </button>
            </form>
            
            <form action="/majorCitiesOrStatebarChart" method="POST">
					<select name="word" th:id="${word}" th:value="${word}">
  						<option th:value="state" th:text="state">state</option>
  						<option th:value="city" th:text="city">city</option>
					</select>
  					 <input type="submit" value="Submit">
				</form>
		
		
   		<a th:href="@{/barChart}">Businesses who take card VS who dont</a>
		<a th:href="@{/pieChart}">Food Origins Pie Chart</a>
</body>
</html>
