<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Charts</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<style>
	html,
	body {
		padding: 0;
		margin: 0;
		height: 100%;
		min-height: 100%;
	}

	.part1 {
		width: 50%;
		height: 50%;
		float: left
	}

	.part2 {
		width: 50%;
		height: 50%;
		float: left
	}

	.part3 {
		width: 50%;
		height: 50%;
		float: left
	}

	.part4 {
		width: 50%;
		height: 50%;
		float: left
	}
</style>

<body>
	<div class="part1" id="chart_div"></div>
	<div class="part2" id="chart_div2"></div>
	<div class="part3" id="chart_div3"></div>
	<div class="part4" id="piechart"></div>
	<script th:inline="javascript">
		var graphDataForReviews = /*[[${graphDataForReviews}]]*/'noValue';
		var graphDataForFoodOrigin = /*[[${graphDataForFoodOrigin}]]*/'noValue';
		var graphDataForCreditCard = /*[[${graphDataForCreditCard}]]*/'noValue';
		var graphTopStates = /*[[${graphTopStates}]]*/'noValue';

		$(document).ready(function () {
			google.charts.load('current', {
				packages: ['corechart', 'bar']
			});
			google.charts.setOnLoadCallback(drawColumnChart);
			google.charts.setOnLoadCallback(drawColumnChart2);
			google.charts.setOnLoadCallback(drawColumnChart3);

			google.charts.setOnLoadCallback(drawPieChart);
		});

		function drawColumnChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('string', [[${xAxeTextForReviews}]]);
			data.addColumn('number', [[${yAxeTextForReviews}]]);
			Object.keys(graphDataForReviews).forEach(function (key) {
				data.addRow([key, graphDataForReviews[key]]);
			});
			var options = {
				title: [[${titleForReviews}]],
				hAxis: {
					title: [[${xAxeTextForReviews}]],
				},
				vAxis: {
					title: [[${yAxeTextForReviews}]]
				}
			};
			var chart = new google.visualization.ColumnChart(document
				.getElementById('chart_div'));
			data.sort({column: 1, desc: true});
			chart.draw(data, options);

		}

		function drawColumnChart2() {
			var data = new google.visualization.DataTable();
			data.addColumn('string', [[${xAxeTextForCreditCard}]]);
			data.addColumn('number', [[${yAxeTextForCreditCard}]]);
			Object.keys(graphDataForCreditCard).forEach(function (key) {
				data.addRow([key, graphDataForCreditCard[key]]);
			});
			var options = {
				title: [[${titleForCreditCard}]],
				hAxis: {
					title: [[${xAxeTextForCreditCard}]],
				},
				vAxis: {
					title: [[${yAxeTextForCreditCard}]]
				}
			};
			var chart = new google.visualization.ColumnChart(document
				.getElementById('chart_div2'));
			chart.draw(data, options);
		}

		function drawColumnChart3() {
			var xhr = new XMLHttpRequest();

			xhr.onreadystatechange = function () {
				if (xhr.readyState == XMLHttpRequest.DONE) {
					if (xhr.status == 200) {
						document.body.innerText = xhr.responseText;
					} else {
						document.body.innerText = xhr.status;
					}
				}
			};

			var state;

			var data = new google.visualization.DataTable();
			data.addColumn('string', [[${xAxeTextForTopStates}]]);
			data.addColumn('number', [[${yAxeTextForTopStates}]]);
			Object.keys(graphTopStates).forEach(function (key) {
				data.addRow([key, graphTopStates[key]]);
			});
			var options = {
				title: [[${titleForTopStates}]],
				hAxis: {
					title: [[${xAxeTextForTopStates}]],
				},
				vAxis: {
					title: [[${yAxeTextForTopStates}]]
				}
			};
			var chart = new google.visualization.ColumnChart(document
				.getElementById('chart_div3'));
			chart.draw(data, options);

			google.visualization.events.addListener(chart, 'select', selectHandler);
			function selectHandler() {
				var selectedItem = chart.getSelection()[0];
				if (selectedItem) {
					var value = data.getValue(selectedItem.row, selectedItem.column);
					if (value == 7390) {
						state = 'AB';
					}
					if (value == 52276) {
						state = 'AZ';
					}
					if (value == 1776) {
						state = 'IL';
					}
					if (value == 13560) {
						state = 'NC';
					}
					if (value == 33474) {
						state = 'NV';
					}
					if (value == 13609) {
						state = 'OH';
					}
					if (value == 30803) {
						state = 'ON';
					}
					if (value == 10385) {
						state = 'PA';
					}
					if (value == 8446) {
						state = 'QC';
					}
					if (value == 4750) {
						state = 'WI';
					}
					xhr.open('POST', '/chartsCities', true);
					xhr.send(state);

				}

			}
		}

		function drawPieChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('string', [[${xAxeTextForReviews}]]);
			data.addColumn('number', [[${yAxeTextForReviews}]]);
			Object.keys(graphDataForFoodOrigin).forEach(function (key) {
				data.addRow([key, graphDataForFoodOrigin[key]]);
			});
			var options = {
				title: [[${titleForFoodOrigin}]]
			};
			var chart = new google.visualization.PieChart(document
				.getElementById('piechart'));
			chart.draw(data, options);
		}

	</script>
</body>

</html>