<html>

<head>
	<title>Business Finder</title>
	<link rel="stylesheet" href="css/style.css" />

</head>

<body>
	<div class="landing">
		<div class="landing-interact">
			<div class="navbar">
				<div class="branding">
					<div><img class="logo" src="images/logo.png" /></div>
					<div class="logo-title">Business Finder</div>
				</div>
			</div>
			<div class="title">
				<div id="typewriter" class="changing"></div>
				<div class="sub-title">Find awesome restaurants near you.</div>
			</div>

			<form action="/searchForFilteredBusinessByStats/0" method="POST">
				<div class="search">
					<input style="height:63px;" type="text" id="name" name="name" th:value="${name}" placeholder="Name">
					<input style="height:63px;" type="text" id="name" name="state" th:value="${state}" placeholder="state">
					<input style="height:63px;" type="text" id="name" name="city" th:value="${city}" placeholder="city">
					<input style="height:63px;" type="text" id="name" name="postalCode" th:value="${postalCode}" placeholder="Postal Code">
					<button id="search-button" class="search-bar search-submit" type="submit" value="submit">
						Search
					</button>
				</div>
			</form>

<div>
				<form style="width:350px; display:inline-block;" action="/Graphs" method="POST">
					<button id="search-button" class=" Buttons-element search-bar search-submit" type="submit">
						Charts
					</button>
				</form>

				<form style="width:350px; display:inline-block;" action="/businessTable/0" method="GET">
					<button id="search-button" class=" Buttons-element search-bar search-submit" type="submit">
						Discover Businesses
					</button>
				</form>

				<form style="width:350px; display:inline-block;" action="/businessRealTable/0" method="GET">
					<button id="search-button" class=" Buttons-element search-bar search-submit" type="submit">
						business tables
					</button>
				</form>

			</div>

			<div class=" cities ">
				<div class="cities-title">ALL CITIES SERVED IN THE US</div>
				<div class="cities-sub-title">
					NYC, Los Angeles, Chicago, Houston, Phoenix, Philadelphia, San Antonio, Dallas &
					San Diego, and more!
				</div>
			</div>
		</div>
		<div class="landing-images ">
			<img class="landing-image " src="images/4.jpg " />
		</div>
	</div>
	<div class="features">
		<div class="feature">
			<div><img class="feature-image" src="images/order.png" /></div>
			<div class="feature-title">Variety & Choices</div>
			<div class="feature-desc">
				Loathing for Italian, Thai, Indian or Chinese food? We got restaurants
				covering many cuisines.
			</div>
		</div>
		<div class="feature">
			<div><img class="feature-image" src="images/ice-cream.png" /></div>
			<div class="feature-title">Close To You</div>
			<div class="feature-desc">
				Get to know awesome resturants near you. Find out what they offer and
				see customer reviews.
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="credits">Made by Group F</div>
	</div>

	<script src="js/core.js"></script>
	<script type="text/javascript">
		const instance = new Typewriter("#typewriter", {
			strings: [
				"Feeling hungry?",
				"Unexpected guests?",
				"Cooking gone wrong?",
				"Game night?",
				"Movie marathon?"
			],
			autoStart: true,
			loop: true
		});
	</script>
</body>

</html>
