
<footer th:fragment-footer="Footer">
 <section class="footer-section footer-section-meta">
 

				 <div class="container">
				 <div id="nav-footer">
				 <ul class="list-inline">
				 <li>
				 <a th:href=@{/aboutUs}>About us</a></li>
				 <li>
				 <a>Impressum</a></li>
				 <li>
				 <a>For Restaurants</a></li>
				 <li>
				 <a>Sitemap</a></li>
				 <li>
				 <a>Datenschutz</a></li></ul></div>
				 <div id="footer-text">
                        </div><p>&Copy 2022, Frankfurt University of Applied Sciences EBIS<br></div>
                        
                 </section>
                        
</footer>