<nav th:fragment="Hauptmenu">
<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.topnav {
	overflow: hidden;
	background-color: #00cc44;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: 00802b;
	color: white;
}

.topnav a.active {
	background-color: #FF0000;
	color: black;
}
</style>
</head>
<body>
<div class="topnav">
		<a th:href="@{/businessTable}">Business</a>
		<a th:href="@{/barChart}">Bar-Chart</a>
		<a th:href="@{/pieChart}">Pie-Chart</a>
		<a th:href="@{/tipTable}">Tips</a>
		<a class="btn btn-white " th:href="@{/nearestRestaurant}">Nearest Restaurant</a>
</div>

</body>
</html>
</nav>
